In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*3

3

In [5]:
1/2.0

0.5

In [6]:
2**4

16

In [7]:
4%2

0

In [8]:
5%2

1

In [9]:
var = 2

In [10]:
var

2

In [11]:
x = 2
y = 3

In [12]:
x + y

5

In [13]:
x = x + x

In [14]:
x

4

In [17]:
name_of_var = 12

In [18]:
# Strings

In [19]:
'single quote'

'single quote'

In [20]:
"this is a String"

'this is a String'

In [21]:
"I can't go"

"I can't go"

In [22]:
x = 'hello'

In [23]:
x

'hello'

In [24]:
print(x)

hello

In [25]:
num = 12
name = 'Sam'

In [31]:
print('My number is {one} and my name is {two}, more {one}'.format(one = num, two = name))

My number is 12 and my name is Sam, more 12

In [38]:
s = 'abcdefghijk'

In [39]:
s[0]

'a'

In [40]:
s[1]

'b'

In [41]:
s[2]

'c'

In [42]:
s[4]

'e'

In [43]:
s[3]

'd'

In [44]:
s[0: ]

'abcdefghijk'

In [45]:
s[:]

'abcdefghijk'

In [46]:
s[:3]

'abc'

In [47]:
#slicing notation

In [49]:
s[3:6]

'def'

In [50]:
[1, 2, 3]

[1, 2, 3]

In [52]:
['a', 'b', 'c']

['a', 'b', 'c']

In [53]:
my_list = ['a', 'b', 'c']

In [54]:
my_list.append('d')

In [55]:
my_list

['a', 'b', 'c', 'd']

In [56]:
my_list[0]

'a'

In [57]:
my_list[1:3]

['b', 'c']

In [58]:
my_list[0] = 'NEW'

In [59]:
my_list

['NEW', 'b', 'c', 'd']

In [60]:
nest = [1,2,[3,4]]

In [61]:
nest[2]

[3, 4]

In [62]:
nest[2][1]

4

In [63]:
nest = [1,2,3,[4,5,['target']]]

In [64]:
nest[3][2]

['target']

In [65]:
nest[3][2][0]

'target'

In [66]:
print(nest[3][2][0])

target

In [68]:
d = {'key1' : 'value', 'key2': 123}

In [69]:
d['key1']

'value'

In [70]:
d['key2']

123

In [78]:
d = {'k1' : [1,2,3]}

In [79]:
d

{'k1': [1, 2, 3]}

In [80]:
d['k1'][1]

2

In [81]:
my_list = d['k1']

In [82]:
my_list

[1, 2, 3]

In [83]:
d['k1'][0]

1

In [84]:
d = {'k1' : {'innerkey' : [1,2,3]}}

In [86]:
d['k1']['innerkey'][1]

2

In [87]:
True

True

In [88]:
False

False

In [94]:
my_list = [1,2,3]

In [90]:
my_list[0]

1

In [95]:
t = (1,2,3)

In [96]:
t[0]

1

In [98]:
my_list[0] = 'NEW'

In [99]:
my_list

['NEW', 2, 3]

In [101]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [102]:
#tuplas são imutáveis, a lista é mutável

In [103]:
{1,2,3}

{1, 2, 3}

In [104]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [110]:
#um set não mostra os repetidos

In [106]:
set([1,1,1,1,2,2,2,5,5,5,5,6,6,6])

{1, 2, 5, 6}

In [107]:
s = {1,2,3}

In [108]:
s.add(5)

In [109]:
s

{1, 2, 3, 5}

In [111]:
1 > 2

False

In [112]:
1 < 2

True

In [113]:
1 >= 2

False

In [114]:
1 == 1

True

In [115]:
1 == 2

False

In [118]:
1 != 3

True

In [119]:
'hi' == 'bye'

False

In [122]:
1 < 2 and 2 <3

True

In [124]:
(3 < 2) or (1 ==1)  or (2 < 3)

True

In [125]:
True and True

True

In [126]:
False or True

True

In [127]:
True and False

False

In [129]:
if (1<2):
    print('yep!')

yep!

In [130]:
if True:
    x = 2+2

In [131]:
x

4

In [132]:
if(1 == 2) :
    print('First')
else:
    print('last')

last

In [136]:
if(2 != 2) :
    print('First')
elif (4==4):
    print('second')
elif (3 == 3):
    print('middle')
else:
    print('last')

second

In [137]:
seq = [1,2,3,4,5]

In [138]:
for item in seq:
    print(item)

1
2
3
4
5

In [140]:
for jelly in seq:
    print(jelly)

1
2
3
4
5

In [141]:
for num in seq:
    print(num)

1
2
3
4
5

In [142]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [145]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [146]:
for x in seq:
    print(x)

1
2
3
4
5

In [147]:
range (0, 5)

range(0, 5)

In [150]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [152]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [153]:
x = [1,2,3,4]

In [154]:
out = []
for num in x:
    out.append(num**2)

In [155]:
print(out)

[1, 4, 9, 16]

In [156]:
[num**2 for num in x]

[1, 4, 9, 16]

In [157]:
out = [num**2 for num in x]

In [158]:
out

[1, 4, 9, 16]

In [159]:
#essa foi um list comprehension

In [160]:
def my_func(param1):
    print(param1)

In [161]:
my_func('hello')

hello

In [162]:
#essa foi uma função

In [168]:
def my_func(name = 'Default Name'):
    print('Hello ' + name)

In [171]:
my_func('Jose')

Hello Jose

In [170]:
my_func()

Hello Default Name

In [172]:
my_func(name = 'Jose')

Hello Jose

In [173]:
def square(num):
    return num**2

In [174]:
output = square(2)

In [175]:
output

4

In [178]:
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    se vc colocar shft+tab isso vai aparecer
    
    """
    return num**2

In [177]:
output = square(2)

In [ ]:
square